.main-container {
  width: 100vw;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
}

.timeline-container {
  overflow-x: hidden;
  width: 100%;
}
