.timeline-drag-container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  position: relative;
}

/*Period styles*/
.periods-container {
  display: flex;
  height: 600px;
}
.period-section {
  height: 100%;
  padding: 25px;
  font-weight: 700;
  font-size: 20px;
  overflow: hidden;
}

/*Tick mark styles*/
.tick-marks {
  position: absolute;
  left: 0;
  display: flex;
  z-index: 100;
}
.tick-mark-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  position: relative;
}
.tick-mark {
  border: solid;
  border-left-color: gray;
  border-width: 0 0 0 2px;
  position: absolute;
  width: 100%;
}
.tick-label {
  position: absolute;
  transform: translateY(30px);
}

/*Key Event styles*/
.key-events {
  position: absolute;
  left: 0;
  height: 10px;
}
.key-event {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-40px);
  padding: 2px 4px;
  font-size: 12px;
  text-align: center;
  width: 150px;
}
